body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

:root {
    --button-bg: red;
}

/* Universal Style */

.main-container {
    max-width: 1320px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

h1 {
    font-size: 70px;
}


/* banner section */



.banner {
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;

}

.details {
    color: white;
    max-width: 513px;
    margin-left: 100px;
    margin-bottom: 30px;

}

.details h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0;
}


.main-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.main-img img {
    height: 613px;
}

.live-button {
    background-color: var(--button-bg);
    padding: 16px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

/* blog section */

.blog-section {
    display: flex;
    column-gap: 24px;
    margin-bottom: 130px;
}

.menu {
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    /* width: 252px; */
    flex: 0 0 252px;
    max-height: 190px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.blogs {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menu button {
    padding: 17px 0;
    border-radius: 10px;
}

.menu a {
    font-size: 18px;
    color: black;
}

.blog-details {
    display: flex;
}

.blog-details div {
    margin-right: 15px;
}

.blog {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.blog-detial-sect {
    padding: 20px;
}

.blog-img img {
    margin-bottom: 15px;
    width: 100%;
}

.transfer {
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 5px;
}



.view-button {
    padding: 10px 25px;
    margin: 20px auto 0 auto;
    width: fit-content;
    background-color: var(--button-bg);
    color: white;
    border-radius: 5px;
    display: none;

}

/* Footer style */

footer {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}

footer a {
    color: white;
    text-align: center;
}

.footer-links {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}


/* Responsive for Mobile */

@media screen and (max-width: 576px) {
    .main-container {
        margin: 0 20px;
    }

    .banner {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }

    .details h1 {
        font-size: 24px;
    }

    .details {
        color: white;
        max-width: 100%;
        margin-left: 0;
        padding: 20px;

    }

    .main-img img {
        height: 250px;
        /* position: absolute; */
    }

    .details p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* blog section */

    .blog-section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        background-color: white;

    }

    .menu button {
        padding: 17px 0;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        border: 1px solid rgb(213, 213, 213);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog:nth-child(9) {
        display: block;
    }

    .view-button {
        display: none;
    }

    footer h1 {
        font-size: 50px;
    }

    .footer-links {
        flex-direction: column;
        row-gap: 30px;
    }

}

/* Responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 834px) {
    .main-container {
        margin: 0 30px;
    }

    .details h1 {
        font-size: 40px;
    }

    .details {
        color: white;
        max-width: 513px;
        margin-left: 50px;
        padding-bottom: 30px;

    }

    .main-img img {
        height: 350px;
        /* position: absolute; */
    }

    .details p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* blog section */

    .blog-section {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .menu {
        flex: auto;
        background-color: white;
        padding: 30px 0;
        border-radius: 10px;
        width: 100%;
        /* max-height: 190px; */
        display: flex;
        flex-direction: row;
        column-gap: 20px;

    }

    .menu button {
        padding: 17px 0;
        width: 230px;
        border-radius: 10px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog:nth-child(9) {
        display: none;
    }

    .view-button {
        display: block;
    }

}